*{
	margin: 0px;
	padding: 0px;
}

body{
	scroll-behavior: smooth;
}
.reg{
	/*background-image: url(banner.jpg);*/
	/*height: px;*/
	background-size: 100% 100%;
	/*overflow: auto;*/
	background-color: grey;


}

#slider{
	position: relative;

}

.btn button{
	padding: 10px;
	color: white;
	height: 40px;
/*	border-radius: 12%;*/
	border-top-right-radius: 20px 15px;
	background-color: blue;
	cursor: pointer;
}
.prev{
	position: absolute;
	top: 45%;
}

.next{
	position: absolute;
	top:45%;
	right: 0px;
}


.navigation{
	background-color: grey;
	position: relative;
	/*position: fixed;*/
	height: 100px;


}

.logo{
	width: 20%;
	/*position: absolute;*/
	height: 100px;
	font-size: 25px;
	line-height: 100px;
	text-align: center;
	position: absolute;
	position: fixed;
	background-color: grey;
	
}


.menu{
	width: 80%;

	right: 0px;	
	position: fixed;
	background-color: grey;

}

.menu ol li{
	display: inline-block;
	width: 19%;
	height: 100px;
	font-size: 25px;
	
	color: white;
	text-align: center;
	line-height: 100px;
	text-shadow: 3px 3px 3px indigo;


}

.image img{
	display: inline-block;

	width: 30%;
	margin: 60px;
	padding:20px;

}

.image>h1{
	color: black;
	margin: 20px;
	margin-top: 30px;
	font-style: italic;
	height: 20px;
	text-decoration: underline;
}


.image p{
	color: black;
	font-size: 20px;
	/*display: inline-block;*/
	width: 50%;
	float: right;
	margin-right: 130px;
	padding-top: 110px;
	/*text-decoration:underline;*/
	text-transform: capitalize;
	text-align: justify;
	text-shadow: 1px 1px 1px black;
	letter-spacing: 2px;
	word-spacing: 1px;
	font-style: italic;
	/*background-color: lightgrey;*/
	font-variant: small-caps;
	

	

	
}

.image>p::first-letter{
	color: red;
	font-size: 60px;
	font-style:initial;

}
/*.image>hr{
	width: 16%;
	height: 3px;
	background-color: green;
	margin-left: 20px;

}
*/




.ourteam{
	width: 23%;
	background-color: grey;
	float: left;
	margin: 4px;
	padding: 4px;
	/*align-items: center;*/
	text-align: center;
	/*box-shadow: 10px 10px 10px green;*/
	margin-top: 50px;
	margin-bottom: 20px;


}

.ourteam:hover{
	
	box-shadow: -5px -5px 5px red;
	transform: translateX(5px);
	transition: 0.5s linear;
	/*	*/

}

.ourteam>img{
	width: 300px;
	height: 300px;
	background-color: lightgrey;
	border-radius: 100%;
	border: 5px;
	border-color: white;
	/*box-shadow: -5px -5px 5px white;*/
	border:6px solid white;


}
.ourteam>img:hover{
	box-shadow: -5px -5px 5px red;
	transform: translateX();
}
h1{
	text-align: center;
	margin-top: 50px;
	font-style: italic;
	text-decoration: underline;
	height: 2000px:
	padding-top: 100px;
	font-weight:bold;
	color: white;

}

.ourteam>p{
	font-style: italic;
	font-weight: bolder;

}

footer{
	color: white;
	background-color: black;
	clear: both;
	text-transform: uppercase;
	text-align: center;
	font-size: 22px;
	font-style:italic; 
}

.ourteam>button{
	color: grey;
	border:20px;
	width: 100px;
	height: 20px;
	font-style: italic;
	background-color: lightgrey;
	padding:5px;
	box-shadow: 2px 3px 2px white;
	border-radius: 30px;
	font-size: 15px;
}

.contact_text{
	width: 62%;
	float: left;
	margin: 2%;
	padding: 2%;
	/*background-color: grey;*/
	height: 200px;
	color: white;
	font-style: italic;
	font-size: 22px;
	text-transform: capitalize;
	word-spacing: 2px;
	letter-spacing: 2px;
	font-weight: bold;
	font-variant: small-caps;
}
.contact_text a{
	color: white;
}
.contact_form{
	width: 22%;
	float: left;
	margin: 2%;
	padding: 2%;
/*	background-color: grey;*/
	height: 200px;

}
section{
	background-image: radial-gradient(circle,rgba(0,0,0,0.4),rgba(0,0,0,0.7)),url(pexels-photo-3042375.jpg);
	background-size: 100% 100%;

}
.contact_form input{
	width: 300px;
	margin: 2px;	
	padding: 2px;
	height: 30px;
	border-radius: 20px;
	text-align: center;
	/*box-sizing: border-box;*/
	box-shadow: 2px 2px 2px indigo;
	font-size: 20px;
	font-weight: bold;
	/*text-transform:uppercase;*/
	font-variant: small-caps;	
}

.contact_form textarea{
	width: 300px;
	margin: 2px;	
	padding: 2px;
	height: 65px;
	border-radius: 20px;
	text-align: center;
	/*box-sizing: border-box;*/
	box-shadow: 2px 2px 2px indigo;
	font-size: 20px;
	font-weight: bold;
	/*text-transform:uppercase;*/
	font-variant: small-caps;

}
.contact_form button{
	width: 70px;
	height: 30px;
	color:grey;
	color: blue;
	box-shadow: 2px 3px 2px;
	border-color: grey;
	border: 2px;
	border-radius: 10%;
	font-weight: bold;
	font-style: italic;
	font-variant: small-caps;		


}

.form>h1{
	color: black;
	font-weight: bold;
	font-style: italic;
}

.form{
	text-align: center;
	background-color: grey;
	clear: both;
	color: black;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	font-variant: small-caps;
	/*background-image: url(pexels-photo-462024.jpg);*/
	background-size: 100% 100%;
	background-image: radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)),url(pexels-photo-462024.jpg);



}
.form div{
	color: black;
}
.form>div input{
	width: 300px;
	margin: 2px;	
	padding: 2px;
	height: 30px;
	border-radius: 20px;
	text-align: center;
	/*box-sizing: border-box;*/
	box-shadow: 2px 2px 2px indigo;
	font-size: 20px;
	font-weight: bold;
	/*text-transform:uppercase;*/
	font-variant: small-caps;
	

}
.gender{
	color: black;
	/*background-color: blue;*/	

}

.form>textarea{
	height: 100px;
	width: 200px;
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	font-variant: small-caps;
	font-style: italic;
	background-color: lightgrey;
	box-shadow: 2px 2px 2px indigo;
	border-radius: 20px;
	text-align: center;		
}

.form>button{
	width: 10%;
	height: 40px;
	background-color: green;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
	border-radius: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px;
	box-shadow: 2px 2px 2px indigo;

}

.readmore h1{
	color: blue	;
	/*background-color: red;*/
	font-size: 60px;
	padding: 5px;
	font-style: italic;
	font-variant: small-caps;
	text-decoration: blue underline;
	text-shadow:2px 2px 2px red;

}






